@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");

.add-product-page {
  overflow-y: scroll;
  height: 100vh;
}
.add-up {
  display: flex;
  justify-content: center;
}
.add-up button {
  margin-right: auto;
}

.add-up h2 {
  margin-right: auto;
  margin-left: auto;
  font-family: Dongle;
  font-size: 51px;
  font-style: normal;
  font-weight: 700;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;
}

.add-form {
  margin-left: 80px;
}

.add-form p {
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
}
.add-form input {
    height: 67px;
    width: 700px;
    border: 10px;
    border-color: black;
    border-radius: 10px;
}
.add-form select {
    height: 67px;
    width: 700px;
    border: 10px;
    border-color: black;
    border-radius: 10px;
}
.ajouter-un-produit {
  background-color: rgba(247, 233, 142, 1);
  margin: 20px;
  height: 30px;
  width: 200px;
  font-weight: bold;
}