.show-products {
  position: absolute;
  height: 400px;
  background: #fff;
  right: 25vw;
  top: 25vh;
  border: 3px solid;
}
.show-products input {
  border: 2px solid;
}
.show {
  display: grid;
  grid-template-columns: 200px 100px 100px 100px 70px 70px;
  border-bottom: .5px solid;
}
.show-title {
  width: 200px;
  grid-column: 1/2;
}
.show-taille {
  width: 100px;
  grid-column: 2/3;
}
.show-quantity {
  width: 100px;
  grid-column: 3/4;
}
.show-price {
  width: 100px;
  grid-column: 4/5;
}
.show-add {
  width: 70px;
  grid-column: 5/6;
}
.show-del {
  width: 70px;
  grid-column: 6/7;
}
.show-add-btn {
  width: 69px;
  background-color: rgba(247, 233, 142, 1);
  height: 30px;
  font-weight: bold;
  grid-column: 5/6;
}
