@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");

.atable {
  overflow-y: scroll;
  max-height: 60vh;
  background: white;
  padding-left: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 400px 200px 100px 200px 200px;
}
.atable h3 {
  font-family: Dongle;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
  border-bottom: 1px solid;
}

.atable-name {
  grid-column: 1/2;
}

.atable-code {
  grid-column: 2/3;
}

.atable-taille {
  grid-column: 3/4;
}

.atable-prix {
  grid-column: 4/5;
}

.atable-status {
  grid-column: 5/6;
}
.all-products-admin {
  display: contents;
}
.all-products-admin button {
  margin: 0;
  padding: 0;
}
.all-products-admin p {
  font-family: Dongle;
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
}
.vendre-buttons {
  margin-left: 600px;
}
.vendre-buttons button {
  background-color: rgba(247, 233, 142, 1);
  margin: 20px;
  height: 30px;
  width: 100px;
  font-weight: bold;
}
