@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@800&display=swap");

.home {
}

.hero {
  height: calc(100vh - 80px);
  background: radial-gradient(
    61.75% 243.42% at 61.75% 43.31%,
    #f5f5f5 38.66%,
    #e5e5e5 100%
  );
  display: grid;
  grid-template-columns: 2fr repeat(12, 4fr) 2fr;
  grid-column-gap: 2fr;
}

.title {
  grid-column: 2 / 6;
  width: 500px;
}
.title h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #333333;
}

.title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 500;
  color: #333333;
}

.title p {
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-size: 20px;
  font-weight: 300;
  word-wrap: break-word;
}
