@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');

.shelby-logo-123 {
  font-family: Lily Script One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}
