@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap");

.navbar {
  background: #061701;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  display: flex;
}
.nav a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: white;
  padding-left: 20px;
  font-size: 90%;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 73px;
  height: 46px;
}
.logo p {
  color: white;
  font-family: "Lily Script One", cursive;
  font-size: 24px;
}
.navact {
  display: flex;
  align-items: center;
}
.navact input {
  background: #242020;
  border: 0;
  border-radius: 30px;
  height: 32px;
  width: 180px;
  margin-right: 18px;
}
.navact img {
  height: 24px;
  width: 24px;
  margin-right: 18px;
}
