@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");

.ptable {
  background: white;
  padding-left: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 400px 200px 150px 150px 200px 100px ;
}
.ptable h3 {
  font-family: Dongle;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
}
.ptable-name {
  grid-column: 1/2;
}

.ptable-code {
  grid-column: 2/3;
}

.ptable-prix_reste {
  grid-column: 3/4;
}

.ptable-taille {
  grid-column: 4/5;
}

.ptable-prix {
  grid-column: 5/6;
}


.pending-admin {
  display: contents;
}
.pending-admin p {
  font-family: Dongle;
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
}
