@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");

.vendre {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.admin-search input {
  width: 430px;
  height: 44px;
  border: 2;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 5px;
}
.options {
  flex-direction: column;
}
.options button {
  text-align: center;
  font-family: Dongle;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  width: 161px;
  height: 66px;
  border-radius: 18px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: white;
  cursor: pointer;
  margin: 12px;
  position: relative;
}
.table {
  align-self: center;
  margin-left: 20px;
}
.table h2 {
  font-family: Dongle;
  font-size: 51px;
  font-style: normal;
  font-weight: 700;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 17px;
}
/* .products-length {
  position: absolute;
} */